.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8eaf6;
    padding: 20px;
    height: 70vh;
}
.title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}
.button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff0026;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #ff2a00;
}